[Unit]
Description = Iniciar rede do servidor
Requires = dbus.service

[Service]
Type = oneshot
ExecStart = /usr/local/conf_rede.sh start
ExecStop  = /usr/local/conf_rede.sh stop

[Install]
WantedBy = multi-user.target
