<header class="header">
    <ul class="menu">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
    </ul>
    <div class="menu_direito">
        <span>Bem vindo {{user}}</span>
    </div>
    <div class="aviso">
        <p>
            Angular é TOP!
        </p>
        <span class="top">div</span>
    </div>
    <div class="box">
        <a href="#">Box1</a>
    </div>
    <div class="box">
        <a href="#">Box2</a>
    </div>
    <div class="box">
        <a href="#">Box2</a>
    </div>


</header>